.style {
    border: 1px solid rgb(255, 0, 0);
    padding-left: 7%;
    background-color: rgb(3, 3, 3);
    color: aliceblue;
   
}

::placeholder {
    color: rgb(27, 148, 185);
}

.detail {
    background-color: red;
    border-bottom: 1 px solid black;
    padding: 0.5%;
    text-align: center;
}